.about-us {
  background: url("../svg/about.png")no-repeat center/cover;
  width: 100%;
  height: 200px;
}

.about-us__titel {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.about-us__text {
  font-style: italic;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.about-us__content {
  font-weight: 400;
  font-size: 30px;
  color: #202846;

}

.about-us__block {
  background: #cbcbcb;
  margin-top: 20px;
  padding: 5px 70px;
}