select {
  margin: 40px 50px;
  width: 93.5%;
  padding: 8px;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.61);
  background: #fefefe;
  border: none;
}

.select-wrapper {
  position: relative;

}

select {
  appearance: none;
  padding-right: 30px;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
}

.cards {
  background: #bdbdc6;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 70px;
  position: relative;
  justify-content: flex-end;
  margin: 40px 50px;
}

.cards_img {
  position: absolute;
  top: 30px;
  left: 50px;
}

.cards__titel {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  color: #353c57;
  margin: 0;
}

.cards hr {
  border: 2px solid #fff;
  width: 712px;
}

.cards__text {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #202846;
  padding: 24px;
  background: #d7d7dd;
  width: 712px;
  margin-top: 10px;
}

.cards__btn {
  position: absolute;
  width: 200px;
  height: 60px;
  bottom: 10px;
  right: 20px;
}

.cards__star {
  position: absolute;
  top: 20px;
  right: 20px;
}