html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

body {
  font-family: var(--font-family);
  background-color: #e7e5e5;
  color: #fff;
  overflow-x: hidden;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;


}

/*  розкомітити коли вссе зроблю*/
.header {
  padding-top: 10px;
  position: absolute;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #202846;
  position: fixed;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-evenly;
}


.header__list {
  display: flex;
  align-items: flex-start;

}

.header__item {
  border-right: 2px solid #fff;
  padding-right: 30px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.header__nav {
  justify-self: center;
  display: flex;
  gap: 40px;

}

.header__switcher {
  position: relative;
  display: inline-block;
}

.header__lang {
  display: flex;
  align-items: center;
}

.header__lenguege {
  width: 75px;
}

.dropdown__menu {
  display: flex;
  position: relative;
}

.header__switcher:hover .dropdown__menu {
  display: block;
}

.header__current {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #202846;
  list-style: none;
  padding: 10px;
  margin: 0;
  min-width: 80px;
  z-index: 1000;
  border: 1px solid
}

.header__dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.header__li {
  padding: 8px 12px;

}

.header__li:hover {
  background: rgba(196, 196, 196, 0.1);
}

/* .booking {
  background: #c6c6dc;
  width: 100%;
  height: 140px;
  inset: 0;
  position: relative;
  z-index: -1;}*/

.booking {
  position: relative;
  height: 140px;
}

.booking::before {
  content: "";
  position: absolute;
  inset: 0;
  /* розтягується на весь блок */
  background: #c6c6dc;
  z-index: -1;
}

.booking__titel {
  padding: 35px 40px;
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  color: #202846;
  margin-top: 90px;

}


.footer {
  background: #202846;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
  background-color: #202846;
}

.footer__text {
  padding: 20px 100px;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  color: #eeecf1;
}


.cards {
  background: #bdbdc6;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 70px;
  position: relative;
  justify-content: flex-end;
  margin: 40px 50px;
}

.cards_img {
  position: absolute;
  top: 30px;
  left: 50px;
}

.cards__titel {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  color: #353c57;
  margin: 0;
}

hr {
  border: 2px solid #fff;
  width: 712px;
}

.cards__text {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #202846;
  padding: 24px;
  background: #d7d7dd;
  width: 712px;
  margin-top: 10px;
}

.cards__btn {
  background: #202846;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  position: absolute;
  width: 200px;
  height: 60px;
  bottom: 10px;
  right: 20px;
  border-radius: 50px;
}

.cards__star {
  position: absolute;
  top: 20px;
  right: 20px;
}