.btn {
  position: relative;
}

.carpathians__btn {
  display: flex;
  gap: 10px;
  position: absolute;
  padding: 0 40px;
  top: 40px;
  left: 100px;
  width: 180px;
  height: 60px;
}

.carpathians__arrow {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.hidden__group {
  display: flex;
  position: relative;
}

.hidden__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hidden__column {
  padding: 125px 0px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

.hidden__box {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.hidden__text {
  position: absolute;
  width: 845px;
  top: 97px;
  left: 47.8%;
  transform: translateX(-10%);
}

.hidden__imgx {
  width: 420px;
}

.hidden__imgk {
  width: 600px;
}

.hidden__text {
  font-weight: 400;
  font-size: 29px;
  color: #000;
  background: #c7c7c7;
  padding: 40px 90px;
}

.hidden__titel {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: #202846;
}

.active {
  padding: 15px 45px;
  background: #ceced8;
}

.active__text {
  font-weight: 400;
  font-size: 29px;
  color: #000;
  margin-top: 0;
}



.active__btn {
  padding: 20px 40px;
  width: 351px;
  border-radius: 0;
}

.flatpickr-calendar {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", sans-serif;
}

.flatpickr-day.selected {
  background: #4CAF50;
  color: #fff;
}

.flatpickr-day.today {
  border: 1px solid #4CAF50;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  color: #4CAF50;
  font-size: 18px;
  transition: 0.2s;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  color: #2E7D32;
}

.date-input {
  position: relative;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;

}

.active__date {
  padding: 18px 40px;
}

.date-input input {
  padding-right: 40px;

}

.active__input {
  height: 60px;
  width: 60px;
}

.calendar-icon {
  position: absolute;
  left: 10px;
  top: 73%;
  width: 20px;
  height: 20px;
  background: url('../svg/calendar.svg') no-repeat center;
  pointer-events: none;

  transform: translateY(-50%);
  background-size: contain;
}

.date-input::after {
  content: "";
  position: absolute;
  left: 83%;
  top: 70%;
  transform: translateY(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #333;
}

.active__reservation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active__theme {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data__reservation {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-top: 30px;
}

.active__label {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 29px;
  color: #000;
}

.active__input {
  width: 80px;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  appearance: none;
}

.active__input::-webkit-inner-spin-button,
.active__input::-webkit-outer-spin-button {
  opacity: 1;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.active__input[type=number] {
  -moz-appearance: textfield;
}

.table__wrapper {
  width: 100%;
  margin: 20px 0;
}

.table__reservation {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table__reservation th {
  background: #4c536b;
  text-align: left;
  padding: 12px 40px;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  border: 3px solid #8f98b9;
}

.table__reservation td {
  padding: 35px;
  vertical-align: middle;
  border: 3px solid #8f98b9;
}

.icon__group {
  display: flex;
  justify-content: center;
}

.room__type {
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  color: #000;
}

.icon__type {
  margin-left: 25px;
}

.btn__price {
  background: #687bc0;
  border-radius: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  padding: 8px 14px;

}

.btn__price:hover {
  background-color: #202846;
}