@import url("booking.css");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}


body {
  font-family: var(--font-family);
  background-color: #e7e5e5;
  color: #fff;
  overflow-x: hidden;
  margin: 0;

}

.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  padding-top: 10px;
  position: absolute;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #202846;
  position: fixed;
  z-index: 100;
}

.header__inner {
  display: grid;
  grid-template-columns: auto 1fr auto
}

.header__list {
  display: flex;
  align-items: flex-start;

}

.header__item {
  border-right: 2px solid #fff;
  padding-right: 30px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;

}

.header__nav {
  justify-self: center;
  display: flex;
  gap: 40px;

}

.header__switcher {
  position: relative;
  display: inline-block;
}

.header__lang {
  display: flex;
  align-items: center;
}

.header__lenguege {
  width: 75px;
}

.dropdown__menu {
  display: flex;
  position: relative;
}

.header__switcher:hover .dropdown__menu {
  display: block;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #202846;
  list-style: none;
  padding: 10px;
  margin: 0;
  min-width: 80px;
  z-index: 1000;
  border: 1px solid
}

.header__dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.header__current {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

.header__li {
  padding: 8px 12px;

}

.header__li:hover {
  background: rgba(196, 196, 196, 0.1);
}

.hero {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 140px;
}

.hero__img {
  display: block;
  width: 100%;
  height: auto;
}

.hero__titel {
  font-size: 75px;
  text-align: center;
  position: absolute;
  z-index: 10;
}

.hero__text {
  font-size: 50px;
  text-align: center;
  position: absolute;
  z-index: 10;
  padding-top: 100px;
}

.services {
  position: relative;
  display: inline-block;
  margin-top: 55px;
}

.services__img {
  width: 100%;
  display: block;
}

.services__overlay {
  position: absolute;
  top: 33px;
  left: -16px;
  width: 100%;
  height: 100%;


}

.services__text {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  max-width: 85%;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 20px;
  color: #202846;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.services__btn {
  background: #202846;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 50px;
  position: absolute;
  bottom: 23%;
  right: 13%;
  z-index: 10;
}

.services__arrow {
  width: 24px;
  height: 24px;
}

.services__next {
  position: absolute;
  bottom: 50%;
  right: 20px;

}

.about {
  margin-top: 55px;
  background: rgba(193, 193, 195, 0.9);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
}

.about__img {
  width: 632px;
  height: 300px;
}

.about__block {
  background: rgba(234, 234, 235, 0.7);
  width: 632px;
  height: 300px;

}

.about__text {
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #202846;
  padding: 80px 30px;
}

.connection {
  border: 3px solid rgba(170, 170, 170, 0.2);
  width: 518px;
  height: 481px;
  margin-top: 55px;
  background: #f2eeee;
  position: relative;
  left: 33%;
}

.connection__titel {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #414141;
}

.connection__text {
  font-weight: 400;
  font-size: 30px;
  color: #323236;
  padding: 0 55px;
  margin: 15px 0;
}

.connection__input {
  border: 2px solid #90a4ae;
  padding: 18px 28px;
  width: 408px;
  margin-left: 55px;

}

.connection__btn {
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  width: 100%;
  background: #444765;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  background: #202846;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
  background-color: #202846;
}

.footer__text {
  padding: 20px 0;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;

  color: #eeecf1;
}